{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "worker": true,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "no-plusplus": "off"
  }
}
